*{
    background-color: yellowgreen;
}
header{
    display: flex;
    justify-content: center;
    height: fit-content;
    flex-direction: column;
    
}
.container1{
    display: flex;
    justify-content: center;
}
.container1 div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 10vh;
    background-color: rgb(23, 20, 20);
    width: 45vh;
    border-radius: 20vw 20vw 0 0;
}
.head{
    align-items: center;
    width: 45vh;
}
.head img{
    width: 1.5vw;
    
}
main{
    display: flex;
    justify-content: center;
}
main div{
    display: flex;
    justify-content: center;
    height: 75vh;
    background-color: rgb(23, 20, 20);
    width: 45vh;
}
.img{
    display: flex;
    background-image: url("wall.jpg");
    background-size: cover;
    margin: 0 0.5vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 75vh;
    margin: 10px;
    padding: 10px;
}
.img_width_heigth{
    height: 4rem;
width: 4rem;
margin: 9px;
}
#icon1{
    background-image: url("https://images.unsplash.com/photo-1611944212129-29977ae1398c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGljb24lMjBkZXNpZ258ZW58MHx8MHx8&w=1000&q=80");
    background-size: cover;
}
#icon2{
    background-image: url("https://images.unsplash.com/photo-1611262588024-d12430b98920?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aW5zdGFncmFtJTIwbG9nb3xlbnwwfHwwfHw%3D&w=1000&q=80");
    background-size: cover;
}
#icon3{
    background-image: url("https://images.unsplash.com/photo-1627843563095-f6e94676cfe0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZmFjZWJvb2slMjBsb2dvfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-size: cover;
}
#icon4{
    background-image: url("https://images.unsplash.com/photo-1611605698335-8b1569810432?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dHdpdHRlcnxlbnwwfHwwfHw%3D&w=1000&q=80");
    background-size: cover;
}
#icon5{
    background-image: url("https://images.unsplash.com/photo-1611162616475-46b635cb6868?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8d2hhdHNhcHAlMjBpY29ufGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-size: cover;
}
#icon6{
    background-image: url("https://images.unsplash.com/photo-1642724978334-218b27d2c472?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&w=1000&q=80");
    background-size: cover;
}
#icon7{
    background-image: url("https://images.unsplash.com/photo-1614680376573-df3480f0c6ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bXVzaWMlMjBzeW1ib2xzfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-size: cover;
}
#icon9{
    background-image: url("https://images.unsplash.com/photo-1611605698323-b1e99cfd37ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGljb24lMjBkZXNpZ258ZW58MHx8MHx8&w=1000&q=80");
    background-size: cover;
}
#icon10{
    background-image: url("https://images.unsplash.com/photo-1611162617474-5b21e879e113?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGljb24lMjBkZXNpZ258ZW58MHx8MHx8&w=1000&q=80");
    background-size: cover;
}
#icon14{
    background-image: url("https://img.freepik.com/premium-photo/3d-zoom-logo-icon-glow-high-quality-render_474486-42.jpg");
    background-size: cover;
}
footer{
    display: flex;
    justify-content:space-evenly ;
    
}
.container3{
    display: flex;
    justify-content:space-evenly ;
    height: 6vh;
    background-color: rgb(23, 20, 20);
    width: 45vh;
    border-radius: 0 0 20vw 20vw;
}
.container3 div{
    width: 2vw;
    height: 4vh;
    background-color: red;
}
#i1{
    background-image:url("img2.png") ;
    background-size: cover;
    height: 2rem;
    width: 1.5rem;
    
}
#i1:hover{
    cursor: not-allowed;
}
#i2{
    background-image:url("img3.png") ;
    background-size: cover;
    height: 2rem;
    width: 1.5rem;
}
#i2:hover{
    cursor: not-allowed;
}
#i3{
    background-image:url("img4.png");
    background-size: cover;
    height: 2rem;
    width: 1.5rem;
}
#i3:hover{
    cursor: not-allowed;
}  


